body {
	background: #BAD7D4;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: small;
	margin: 8px 0 16px;
	text-align: center;
}

/**** Logo Section  *****/
h1 {
	background-color: #D9EAE8;
	margin: 0;
	min-height: 0;
	padding: 0;
	text-decoration: none;
	text-indent: -8000px;
}

h1 a {
	display: block;
	height: 100%;
	min-height: 40px;
	overflow: hidden;
}

img {
	behavior: url(css/iepngfix.htc);
	border: none;
}

/**** Form Section ****/
.appnitro {
	font-family: Lucida Grande, Tahoma, Arial, Verdana, sans-serif;
	font-size: small;
}

.appnitro li {
	width: 75%;
}
