#feedWidget{
	background-image: -moz-linear-gradient(center top , #EBF3FC, #DCE9F9);
	border:1px solid #48535e;
	margin:0;
	padding:5px;
}

#activeTab {
	//color:white;
	cursor:pointer;
	//font-size:20px;
	font-weight: bold;
	margin:0 2px 0 0;
	padding:5px;
	//text-shadow:0 1px 1px black;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.line{
	height:1px;
	overflow:hidden;
	background-color:#2b353d;
	border-bottom:1px solid #687581;
	margin:10px 0;
}

#tabContent div{
	/* The feed entry divs */
	
	background-color:#EEEEEE;
	color:#555555;
	//font-size:10px;
	margin-bottom:10px;
	padding:5px;
	position:relative;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	
	-moz-box-shadow:0 1px 1px black;
	-webkit-box-shadow:0 1px 1px black;
	box-shadow:0 1px 1px black;
}