.error {
	
	color: #ff0000;
}
 
.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 45spx;
}

.query{
	margin: 45px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 18px;
	background: #fff;
	color: #000;
	
}

.navigator{
	margin-left: 45px;
	margin-top: -20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 15px;
	background: #fff;
	color: #000;
	
}

.navigator a{
	margin-left: 10px;
	
}

.mblDomButtonMyRedButton_0 {
  position: relative;
  height: 29px;
  line-height: 29px;
  padding: 0px 8px;
  color: white;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: bold;
  border: 1px outset #9cacc0;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#d3656d), to(#bc1320),
                                 color-stop(0.5, #c9404b), color-stop(0.5, #bc1421));
  background-color: #c9404b;
  text-align: center;
}