<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd">
	
	<osgi:reference id="cisManager" interface="org.societies.api.cis.management.ICisManager" />
	<osgi:reference id="cisDirectoryClient" interface="org.societies.api.cis.directory.ICisDirectoryRemote" />
	<osgi:reference id="commManager" interface="org.societies.api.comm.xmpp.interfaces.ICommManager"/> 
	<osgi:reference id="ctxBroker" interface="org.societies.api.context.broker.ICtxBroker" />
	<osgi:reference id="cssManager" interface="org.societies.api.internal.css.management.ICSSLocalManager" />
	
	<bean id="commsClient" 
		class="org.societies.thirdpartyservices.networking.client.NetworkingClientComms"
		 init-method="InitService">
		<property name="commManager" ref="commManager" />
	</bean>
		
	<bean id="networkClient" 
		class="org.societies.thirdpartyservices.networking.client.NetworkClient"
		 init-method="init_service">
		<property name="cisManager" ref="cisManager" />
		<property name="cisDirectoryClient" ref="cisDirectoryClient" />
		<property name="commsClient" ref="commsClient" /> 
		<property name="ctxBroker" ref="ctxBroker" />
		<property name="commManager" ref="commManager" />
	</bean>
	
	
	
	
</beans>
