#domain name of platform
#port number for the container who installs nearme service
#now it installs on user7 of container
#please make sure the configuration file names
#nearme.config and put under in downloads folder of SD Card

domain=societies.local.macs.hw.ac.uk

#this port of User 7, for university CSS please use 8080 port

port=8780