<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">123qwe</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/collabquiz</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.pool_size">1</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping resource="hibernate/Category.hbm.xml"></mapping>
        <mapping resource="hibernate/Question.hbm.xml"></mapping>
         <mapping resource="hibernate/UserAnsweredQ.hbm.xml"></mapping>
        <mapping resource="hibernate/UserScore.hbm.xml"></mapping> 
        <mapping resource="hibernate/Groups.hbm.xml"></mapping> 
        <mapping resource="hibernate/PendingJoins.hbm.xml"></mapping> 
        <mapping resource="hibernate/UserGroups.hbm.xml"></mapping> 
    </session-factory>
</hibernate-configuration>