<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.asocom.activities"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application 
    	android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".UserIdentification"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       
        <activity android:name=".HomeMenu"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">         
		</activity>
         
        <activity android:name=".CreateAccount"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
        </activity>
        	
        <activity android:name=".OpenAccount"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".CreateCommunity"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".Communities"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".CommunityOptions"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
		</activity>
			
		<activity android:name=".MyCommunities"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
		</activity>
		
	    <activity android:name=".ShowMessage"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">         
		</activity>
		
		<activity android:name=".Profile"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
		</activity>		
		
		<activity android:name=".AllUsers"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
		</activity>	
		
		<activity android:name=".Friends"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".CommunityMembers"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".CommunityProfileActivity"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".ComunityChatActivity"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
		</activity>	
		
		<activity android:name=".UserOptions"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".UserChatActivity"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
		</activity>	
		
		<activity android:name=".UserProfileActivity"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
		</activity>	
			
		<activity android:name=".UserOptionsCommunity"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
		</activity>	
		
		<activity android:name=".ProfileConfiguration"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
		</activity>	
			
		<activity android:name=".UserProfile"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
		</activity>	

		<activity android:name=".ShowMessageFriend"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
		</activity>		

		<activity android:name=".UserOptionProfileAllUser"
         	android:theme="@android:style/Theme.NoTitleBar"
         	android:screenOrientation="portrait">
		</activity>	
		
		  <service android:enabled="true" android:name="com.asocom.tools.ListenerService" />
		 
		
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
</manifest>